.select {
    vertical-align: middle;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #FFF;
}

.contain {
    margin-top: 100px;
}

.blink{
    color: #FFF;
    font-size: xx-large;
    margin: 0 auto;
}