@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700&display=swap'); 

.botaoContainer{
    width: 100vw;
    justify-content: space-around;
    margin-top: 40px;
    height: 31px;
    margin-bottom: 40px;
}

.css-1gjgmky-MuiToggleButtonGroup-root .MuiToggleButtonGroup-grouped:not(:last-of-type){
    background-color: #7835A9;
    border-radius : 0;
    font-size:12px;
    width: 73px;
    color: white;
    height: 31px;
    font-family: 'Jost', sans-serif;
}

.css-1gjgmky-MuiToggleButtonGroup-root .MuiToggleButtonGroup-grouped{
    background-color: #7835A9;
    border-radius : 0;
    font-size:12px;
    width: 73px;
    color: white;
    height: 31px;
    font-family: 'Jost', sans-serif;
}

/* BOTAO SELECIONDO */
.css-d9c359-MuiButtonBase-root-MuiToggleButton-root.Mui-selected{
    background-color: #EA6AFF  !important;
    color: #2C1D5A  !important;
    font-weight: 400;
}

.css-1gjgmky-MuiToggleButtonGroup-root .MuiToggleButtonGroup-grouped.Mui-selected+.MuiToggleButtonGroup-grouped.Mui-selected{
    background-color: #EA6AFF  !important;
    color: #2C1D5A  !important;
    font-weight: 400;
}