.containerInstalador{
    width: 90vw;
    margin: 0 auto;
    background-image: url('../../assets/img/retangulo.png');
    color: #F4EBFC;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 18vh;
    border: 1px solid white;

}

.contentInstalador{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
}

.containerInstalador h2{
    padding: 9px 0 0 15px;
    margin: 0;
}

.containerInstalador a{
    align-self: center;
    padding: 8px 18px;
    background-color: #D6BEEB;
    margin-bottom: 12px;
    text-decoration: none;
    line-height: 11px;
    font-weight: 500;
}