.InfoInstalado{
    background-image: url('../../assets/img/retangulo.png');
    width: 90vw;
    margin: 0 auto;
    border: 1px solid white;
    margin-top: 70px;
    color: white;
    padding-left: 10px;
}
.InfoInstalado p{
    font-size: 18px;
    font-weight: 500;
}

.InformacaoPLano{
    background-color: rgba(234, 106, 255, 0.7);
    width: 90vw;
    margin: 0 auto;
    border:3px solid #2C1D5A;
    margin-top: 60px;
    padding-left: 10px;
    color: #2C1D5A;
}

.InformacaoPLano p{
    font-weight: 500;
    font-size: 18px;
}

.botaoAgendar{
    width: 68vw;
    margin: 0 auto;
    display: block;
    margin-top: 60px;
    height: 45px;
    background-color: #7835A9;
    FONT-SIZE: 22px;
    color: white;
    border-radius: 3px;
}